h1{
    color: black;
}

.rose {
    color: #db189a;
}

.jasmine {
    color:rgb(18, 203, 213);
}

.lilly {   
     color: hsl(230, 50%, 70%);
}

.daisy {
    color: rgba(104, 104, 138, 0.83);
}

.sun-flower {
    color: hsla(0, 68%, 76%, 0.4);
}