body{
    background-color: red;
}

h1 {
    color:blue;
}

.car {
    color:black
}

.bike {
    background-color: purple;
}

.rainbow {
    background-image: url("assets/rainbow-bg.jpeg");
    color: black;
    background-repeat: repeat;
}

.colors {
    color: green;
}
.rainbows {
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;               
    background-attachment: fixed;
    color: black;
}



